/* google fonts start*/

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Saira&display=swap');

/* google fonts end*/

.form-control {
    border-radius: 0px;
    border: 0px;
}

.font-primary {
    font-family: 'Kaushan Script', cursive;
    color: #000;
}

.font-secondary {
    font-family: 'Saira', sans-serif;
    color: #000;
}

.form-area {
    border: 1px solid #000;
}